@import "styles/main.module.scss";

.container {
    background-color: $color-background;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem;
    z-index: 10;

    @include respond(phone) {
        top: unset;
        bottom: 0;
        right: 0;
        height: 4rem;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .logoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2.7rem;

        h1 {
            color: $color-gold;
            font-size: 5rem;
        }

        p {
            font-size: 0.6rem;
            color: $color-white;
        }
    }

    .linksWrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include respond(phone) {
            width: 100%;
            height: 4rem;
            gap: unset;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }

    .socialMediaWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        svg {
            width: 1.8rem;
            height: 1.8rem;
            cursor: pointer;

            path {
                fill: $color-gray;
            }

            &:hover {
                path {
                    fill: $color-gold;
                }
            }
        }
    }
}

.mobileHeader {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: $color-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 10;

    h1 {
        color: $color-white;
        color: $color-gold;
        font-size: 3rem;
    }

    .socialMedia {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
            width: 1.5rem;
            height: 1.5rem;

            path {
                fill: $color-gray;
            }
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}