@import "styles/main.module.scss";

.container {
    background-color: $color-primary;
    height: 100vh;
    padding-left: 4rem;

    @include respond(phone) {
        height: unset;
        min-height: 100vh;
        padding-left: unset;
        padding-bottom: 4rem;
    }
}