@import "styles/main.module.scss";

.container {
    width: 60rem;

    @include respond(phone) {
        width: 100%;
    }

    .slider {
        position: relative;

        @include respond(phone) {
            width: 100%;
            position: unset;
        }

        img {
            width: 100%;
        }

        .ArrowLeft,
        .ArrowRight {
            position: absolute;
            top: 50%;
            left: -4rem;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            background-color: $color-gray;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            @include centerElement;

            svg {
                width: 2rem;
                height: 2rem;

                path {
                    fill: $color-gold;
                }
            }
        }

        .ArrowRight {
            left: unset;
            right: -4rem;
        }

        ul {
            position: absolute;
            bottom: 1rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            width: auto;
    
            li {
                margin: 0 -0.1rem;
                button {
                    &::before {
                        font-size: 0.8rem;
                        color: #fff;
                        opacity: 0.4;
                    }
                }
            }
    
            li[class="slick-active"] {
                button {
                    &:before {
                        font-size: 0.8rem;
                        color: $color-gold;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
