@import "styles/main.module.scss";

.container {
    width: 60rem;

    @include respond(phone) {
        width: 100%;
    }

    .slider {
        position: relative;

        @include respond(phone) {
            width: 100%;
        }

        img {
            width: 100%;
        }

        .ArrowLeft {
            position: absolute;
            top: 50%;
            left: 1rem;
            z-index: 10;
            cursor: pointer;

            svg {
                width: 2rem;
                height: 2rem;

                path {
                    fill: $color-gold;
                }
            }
        }

        .ArrowRight {
            position: absolute;
            top: 50%;
            right: 1rem;
            z-index: 10;
            cursor: pointer;

            svg {
                width: 2rem;
                height: 2rem;

                path {
                    fill: $color-gold;
                }
            }
        }
    }
}
