@import "styles/main.module.scss";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;

    .contactWrapper {
        display: grid;
        place-items: center;
    }

    .mapWrapper {
        display: grid;
        place-items: center;
    }
}
