@import "styles/main.module.scss";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include respond(phone) {
        grid-template-columns: repeat(1, 1fr);
    }

    .projectsInfo {
        @include centerElement;
        .info {
            h1 {
                color: $color-gold;
                font-weight: 300;
                margin-bottom: 0.5rem;
            }

            p {
                color: $color-white;
                margin-bottom: 0.5rem;
            }
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond(phone) {
            grid-template-columns: repeat(3, 1fr);
        }

        .imgWrapper {
            width: 100%;
            overflow: hidden;
            display: flex;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
